form{
    background-color: rgb(255, 137, 0);
    display:flexbox;
    text-align: center;
    margin-left: 50%;
    width: 4.8cm;
    border-radius: 15px;
    padding-bottom: 4px;
}
.bd{
    display: flex;
    margin-left: 10px;

}
#bx{
    border-radius: 10px;
    box-shadow: 0px 2px;
    margin: 6px;
    height: 50px;
}
.bkd1{
    margin-left: 2px;
}

button{
    background-color: aliceblue;
    border-style: hidden;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    box-shadow: inset 2px 2px rgb(0, 0, 0);
    margin: 3px;
}
.bkd2{
    margin-left: 6px;
}
.bkd2 button{
    background-color: black;
    color: orange;
    box-shadow:0px 0px;
    margin: 2px;
    height: 25px;
    width: 25px;
}
#clk{

}
